$panel
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	background-color: #fff

.body
	@extend $panel
	overflow: hidden
	.pre
	.current
	.next
		@extend $panel
	.current
		z-index: 1

.body-scroll
	.pre
		transform: translateX(-33%)
	.current
		transform: translateX(0)
	.next
		transform: translateX(100%)
	&.scroll-next
		.pre
			&.animate
				transition: transform .5s cubic-bezier(0, 0, 0, 1)
		.current
			box-shadow: 0 0 20px rgba(0, 0, 0, .2)
			&.animate
				transition: transform .5s cubic-bezier(0, 0, 0, 1)
	&.scroll-pre
		.current
			&.animate
				transition: transform .5s cubic-bezier(0, 0, 0, 1)
		.next
			box-shadow: 0 0 20px rgba(0, 0, 0, .2)
			z-index: 2
			&.animate
				transition: transform .5s cubic-bezier(0, 0, 0, 1)

.body-opacity
	.animate
		transition: opacity .5s linear
	.pre
	.next
		opacity: 0
	.current
		opacity: 1