$panel
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	background-color: #fff

.body
	@extend $panel
	overflow: hidden
	.pre
	.current
	.next
		@extend $panel
	.current
		z-index: 1

.body-scroll
	.pre
		transform: translateX(-33%)
		box-shadow: 0 0 0 rgba(0, 0, 0, 0)
	.current
		transform: translateX(0)
		box-shadow: 0 0 30px rgba(0, 0, 0, .3)
	.next
		transform: translateX(100%)
		box-shadow: 0 0 0 rgba(0, 0, 0, 0)
	&.scroll-next
		.animate
			transition: transform .5s cubic-bezier(0, 0, 0, 1), box-shadow .5s cubic-bezier(0, 1, 0, 1)
	&.scroll-pre
		.animate
			transition: transform .5s cubic-bezier(0, 0, 0, 1), box-shadow .5s cubic-bezier(1, 0, 1, 0)
		.next
			z-index: 2

.body-opacity
	.animate
		transition: opacity .5s linear
	.pre
	.next
		opacity: 0
	.current
		opacity: 1